body {
    background-color: rgb(21, 21, 21);
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    height: 151px;
    justify-content: center;
}

.blank { 
    width: 151px;
    height: 151px;
    background-color: rgb(125, 123, 130);
}

.map {
    display: grid;
    margin-top: 2em;
    border: 0.5em solid rgb(122, 122, 130);
    background-color: rgb(37, 37, 40);
    padding-top: 3em;
    padding-bottom: 3em;
}

.blank img {
    width: 20%;
    height: 20%;
}